@charset "UTF-8";

.reading {
  justify-content: center;
  position: relative;
}
#comment {
  display: none; /* 初期状態では非表示に設定 */
}
.reading_bookimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reading_girl {
  width: 80%;
  margin: 0 auto;
}
.reading_girl img {
  width: 100%;
}

/* 回転と縮小アニメーションの定義 */
@keyframes rotateAndShrink {
  0% {
    transform: rotate(0deg) scale(1); /* 開始時の回転角度とサイズ */
  }
  100% {
    transform: rotate(360deg) scale(0); /* 終了時の回転角度とサイズ */
  }
}

/* アニメーションを適用する要素 */
.rotating-shrinking-image {
  animation: rotateAndShrink 2s linear infinite; /* アニメーションを2秒かけて実行し、無限に繰り返す */
}
