@charset "UTF-8";

.reading {
  position: relative;
}
#comment {
  display: none; /* 初期状態では非表示に設定 */
}
.reading .mini_title {
  margin-top: 24%;
}
.reading .mini_title p {
  background: none;
}
/* コメントが徐々に現れるアニメーションの定義 */
@keyframes fadeIn {
  0% {
    opacity: 0; /* 開始時の透明度 */
  }
  100% {
    opacity: 1; /* 終了時の透明度 */
  }
}

/* アニメーションを適用する要素 */
.fade-in-comment {
  animation: fadeIn 1s ease-in; /* アニメーションを1秒かけて実行（イージングを使用） */
}

.reading_girl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.reading_girl img {
  width: 100%;
}
.reading_bookimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 回転と縮小アニメーションの定義 */
@keyframes rotateAndShrink {
  0% {
    transform: rotate(0deg) scale(1); /* 開始時の回転角度とサイズ */
  }
  90% {
    transform: rotate(360deg) scale(0.1); /* 縮小 */
  }
  100% {
    transform: rotate(360deg) scale(0); /* 終了時の回転角度とサイズ */
    visibility: hidden;
  }
}

/* アニメーションを適用する要素 */
.rotating-shrinking-image {
  animation: rotateAndShrink 2s linear; /* アニメーションを2秒かけて実行。無限に繰り返す場合 infinitを追記 */
}
