@charset "UTF-8";

/*
base style
*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic PronN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
@media screen and (max-width: 390px) and (max-height: 844px) {
  .header {
    text-align: center;
    margin: 8px 0px;
  }
  .home_select_u {
    display: flex;
    justify-content: center;
  }
  .select_text {
    width: 50%;
    text-align: center;
    font-size: 24px;
  }
  .home_select_l {
    width: 100%;
  }
}
