@charset "UTF-8";

/*
base style
*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic PronN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  text-align: center;
  padding: 8px 0;
}
.home_middle {
  padding: 16px;
}
.home_icon {
  background: #333;
  height: 32px;
}
.home_select {
  display: flex;
  flex-direction: column; /* 列方向に要素を配置 */
}
.select_text {
  width: 50%;
  text-align: center;
  font-size: 24px;
  padding: 16px;
  margin: 1px;
  border: 4px solid #000;
}
.home_select_u {
  display: flex;
  justify-content: center;
}
.home_select_l {
  width: auto;
}
